<!DOCTYPE html>
<html>
  <head>
    <title>DigitalOcean Spaces Example</title>
    <meta name="description" content="DigitalOcean Spaceson Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        DigitalOcean Spaces
      </h1>
    </header>

    <main>
      <p class="bold">=(</p>
      
      <p>Looks like something went a bit wrong... What could have happended?</p>
      
      <ul>
        <li>Did you remember to set your Spaces Access key and Secret in the '.env' file?</li>
        <li>What about the name for your Space? It needs to be gloably unique.</li>
      </ul>
    </main>

    <script src="https://button.glitch.me/button.js"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
  </body>
</html>
