<!DOCTYPE html>
<html>
  <head>
    <title>DigitalOcean Spaces Example</title>
    <meta name="description" content="DigitalOcean Spaceson Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        DigitalOcean Spaces
      </h1>
    </header>

    <main>
      <p><img src="https://assets.digitalocean.com/sammy/Sammy_pony.png"></p>
      
      <p><strong>\o/</strong> Nice! Looked like that worked. Take a looking in the <a href="https://cloud.digitalocean.com/spaces">DigitalOcean control panel</a>.</p>
    </main>

    <script src="https://button.glitch.me/button.js"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
  </body>
</html>
